* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    background-color: #0f1111;
    height: 65px;
    border: 5px white solid;
}

#logo {
    color: #f08804;
}

#navbar a {
    margin-right: 130px;
    text-decoration: none;
}

#search-box {
    padding: 5px;
    color: black;
}

#search-btn {
    background-color: #f08804;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}
